.showcase {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("https://images.pexels.com/photos/258112/pexels-photo-258112.jpeg?auto=compress&cs=tinysrgb&h=650&w=940")
    no-repeat center center/cover;

  h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1.5rem;
  }
}
