.navbar {
  background: darken($primary-color, 5);
  display: flex;
  justify-content: space-between;

  .brand {
    color: white;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  ul {
    display: flex;

    li {
      list-style: none;
      align-self: center;

      .link {
        text-decoration: none;
        color: white;
        display: block;
        padding: 0rem 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    display: block;

    .brand {
      display: block;
      text-align: center;
      padding: 1rem 0 0 0;
    }

    ul {
      justify-content: center;

      li {
        display: flex;

        .link {
          padding: 1rem 0.5rem;
        }
      }
    }
  }
}
