.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.post {
  display: grid;
  padding: 0.5rem 2rem;
  background: $secondary-color;

  grid-template-columns: 1fr;

  color: white;
  margin: 1rem 1rem 0.5rem 0.5rem;
  line-height: 1.5;

  .post-content {
    align-self: center;
  }

  h1 {
    padding: 0.5rem 0 0 0;
    font-size: 1.2rem;
  }
  .link {
    text-decoration: none;
    color: #fff;
  }

  .image {
    margin: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .post-container {
    grid-template-columns: 1fr;
  }
}
