// $primary-color: rgb(10, 9, 54);
$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(23, 21, 66);
$code-pre: rgb(42, 40, 75);
$danger-color: #fd531f;

// $theme-colors: (
//   'primary': rgb(10, 9, 54),
//   'danger': #ff4136
// );

// $body-bg: rgb(10, 9, 54);
// $body-color: #111;
